.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__group
          グループ名
        %ul.left-header__members
          Member:
          %li.member
          メンバー名
      .right-header
        .right-header__btn
          Edit
    
    .messages
      .message
        .upper-message
          .upper-message__user-name
            メンバー
          .upper-message__date
            2019/10/20
        .lower-message
          .lower-message__content
            内容

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form_message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

